<h1>Stock Details</h1>

<p><strong>Symbol:</strong> <%= @stock[:symbol] %></p>
<p><strong>Company Name:</strong> <%= @stock[:name] %></p>
<p><strong>Latest Price:</strong> <%= @stock[:latest_price] %></p>
<p><strong>Price 24h Ago:</strong> <%= @stock[:price_24h_ago] %></p>

<%= link_to 'Back', stocks_path, class: 'btn btn-secondary' %>
<%= link_to 'Buy', new_transaction_path(stock_symbol: @stock[:symbol], price_per_share: @stock[:latest_price]), class: 'btn btn-primary' %>

