<h1>Stock Trading Users</h1>
<% links = [
    {
        path: '/users',
        name: 'All Users',
        link: users_path
    },
    {
        path: '/traders',
        name: 'Traders',
        link: traders_path
    },
    {
        path: '/admins',
        name: 'Admins',
        link: admins_path
    },
    {
        path: '/pending_traders',
        name: 'Pending Traders',
        link: pending_traders_path
    },
    {
        path: '/new_users',
        name: 'New Users',
        link: new_users_path
    }
] %>
<div id='users-table-container'>
    <ul class='users-table-links'>
    <% links.each do |link| %>
        <% active_id = (request.path == link[:path]) ? "users-table-link-active" : "users-table-link" %>
        <li id="<%= active_id %>"><%= link_to link[:name], link[:link] %></li>
    <% end %>
    </ul>
    <table id='users-table'>
    <thead>
        <tr>
            <th>Email</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Address</th>
            <th>Balance</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.email, user %></td>
                <td><%= user.last_name.presence || "N/A" %></td>
                <td><%= user.first_name.presence || "N/A" %></td>
                <td><%= user.address.presence || "N/A" %></td>
                <td><%= user.balance.presence || "N/A" %></td>
                <td>
                    <%= form_with(model: user, url: user_path(user), method: :put) do |form| %>
                        <%= form.select :role, User.roles.keys, {}, class: "role-select" %>
                        <%= form.submit "Update Role" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>

<%= link_to 'Add New User', new_user_path, id: 'new-user-link' %>
